{erl_opts, [debug_info]}.
{deps, [jiffy, gun]}.

{overrides,
 [{override, jiffy, [
     {plugins, [pc]},
     {artifacts, ["priv/jiffy.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
{relx, [
  {release,
      {drone_hub, "0.1.0"}, [drone_hub, sasl, runtime_tools, gun, jiffy]
  }
]}.
{include_erts, true}.
{sys_config, "config/sys.config"}.
{vm_args, "config/vm.args"}.